@page
@model Medii.Pages.Menus.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Sterge</h1>

<h3>Sigur vrei sa stergi meniul?</h3>
<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Details)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Menu.MenuId" />
        <br />
        <input type="submit" value="Sterge" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi</a>
    </form>
</div>
