@page
@model Medii.Pages.Reservations.DeleteModel

@{
    ViewData["Title"] = "Delete";
}


<h3>Sigur vreti sa stergeti rezervarea?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Location.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Menu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Menu.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.DateAndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.DateAndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.ReservationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.ReservationName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Reservation.ReservationId" />
        <input type="submit" value="Sterge" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi</a>
    </form>
</div>
