@page
@model Medii.Pages.Reservations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Rezervare</h1>

<p>
        <a asp-page="Create">Creeaza o rezervare</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].Menu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].DateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ReservationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Menu.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ReservationId">Editeaza</a> |
                <a asp-page="./Details" asp-route-id="@item.ReservationId">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.ReservationId">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
